# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PythonProject_PyCharm\Python_Data_Analysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
